<!DOCTYPE html>
<html>
    <head>
        <link href="./image/favicon.png" rel="icon"/>
        <link href="./css/styles.css" rel="stylesheet" />
     
        <title>web-serve |404</title>
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <h4>{{error}}</h4>
        </div>
        {{>footer}}
    </body>
    
</html>


