<html>
  <head>
    <link href="./image/favicon.png" rel="icon"/>
    <link href="./css/styles.css" rel="stylesheet" />
    <title>web-server | About</title>
  </head>
  <body>
    <div class="main-content">
       {{>header}}
    {{!-- <h1>{{title}}</h1> --}}
       <img src="./image/profile.jpeg" class="portrait" alt="profil-pic" />
     </div>
     {{>footer}}
  </body>
</html>